{% extends "layout.html" %}


{% block title %}
    Home
{% endblock %}
<style> 
  @media (max-width: 530px) {
    #indexhead {
      font-size: 10px !important;
    }
  }
</style>
{% block main %}
<h1 class="display-3" id="indexhead" style="text-align: center; font-size: 50px;">Welcome to Randomizer!</h1><br>

<div class="jumbotron">
  <p class="lead">We make randomizing things easier!<br>This website is fully free and open-sourced. No nonesense ads. No privacy concerns.</p>
  <hr class="my-4">
  <p>Start randomizing!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" id="indexbutton" href="#middle" style="width: 12rem;">Get Started<br>▼</a>
  </p>

</div>

<p style="margin-top: 20vh; "></p>
<div id="middle">
    <div class="list-group" style="float: right; width: 25rem; max-width: 100%;">
    <a href="/name-generator" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Random Name Generator</h5>
    </div>
    <p class="mb-1">Are you too lazy to find a new name for your newborn baby? Let our website do it for you. (DISCLAIMER: It's still your baby so.. )</p>
  </a>
    <a href="color-generator" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Random Color Generator</h5>
    </div>
    <p class="mb-1">Are you searching for some random color but have no inspiration? Let the Randomizer pick a random color for you!</p>
  </a>
  </div>
<div class="list-group" style="flex: left !important; width: 25rem; max-width: 100%;">
  <a href="team-generator" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Random Team Generator</h5>
    </div>
    <p class="mb-1">This is helpful if you have, say, a class an want to split them in different teams but you want to do it in a fair (= random) way.</p>
  </a>
  <a href="name-picker" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Random Name Picker</h5>
    </div>
    <p class="mb-1">Pick up a random name out of a group of names. To the guy who gets picked in the class: Sorry dude. It's totally random.</p>
  </a>
</div>
{% endblock %}
