{% extends "layout.html" %}

{% block title %}
    Random Name Picker
{% endblock %}

{% block main %}
<form action="/name-picker" method="post">
    <div class="form-group">
        <h3>Enter a list of names seperated by a comma:</h3><br>
        <textarea autocomplete="off" autofocus class="form-control" name="names" rows="4" placeholder="Enter a list of names" type="text" style="width: 25rem; max-width: 100%" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Randomize!</button>
</form>
{% endblock %}